.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
    background-color: #333; /* Background color of the banner */
    padding: 10px; /* Padding around the banner */
    display: flex; /* Display links horizontally */
    justify-content: space-around; /* Evenly space out links */
}

.banner-link {
    color: #fff; /* Text color of the links */
    text-decoration: none; /* Remove underline from links */
    padding: 5px 10px; /* Padding inside each link */
}

    .banner-link:hover {
        background-color: #555; /* Background color of the link on hover */
        border-radius: 5px; /* Add border radius to make it rounded */
    }
